.password__strength {
  height: 0.5rem;
  background-color: #d5d0d0;
  border-radius: 0.19rem;
}

.password__default {
  height: 0.5rem;
  background-color: #d5d0d0;
  border-radius: 0.19rem;
  width: 100%;
}
