body {
  background-image: url('/src/assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.dark {
  background-image: url('/src/assets/dark-background.jpg');
}
